/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  experimental: {
    appDir: true, // Enable if using the new app directory structure
  },
  images: {
    domains: ['your-image-domain.com'], // Add external image domains if needed
  },
};

module.exports = nextConfig;
